a {
  cursor: pointer;
}
.jumbotron {
  background-color: #232628;
  margin-right: -15px;
  margin-left: -15px;
}
.dropdownfield {
  padding: 3%;
  background-color: #798189;
  float: left;
  font-family: 'Roboto', sans-serif;
  height: 25vh;
}
text {
  font: 10px sans-serif;
}
#map {
  width: 100%;
  height: 100%;
}
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    min-width: 300px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}