a {
  cursor: pointer;
}


.jumbotron {
	background-color: #232628;
	margin-right: -15px;
	margin-left: -15px;
}

.dropdownfield {
	padding: 3%;
	background-color: #798189;
	float: left;
	font-family: 'Roboto', sans-serif;
	height: 25vh;

}

@media (min-width: 1200px) {


}

text {
  font: 10px sans-serif;
}
