<div ng-show="measures.length > 0">
    <p>
        <label for="measure">Messwert:</label>
        <select id="measure" ng-model="cubeConfig.measure" required
                ng-options="measure.label for measure in measures"></select>
    </p>

    <p>
        <label for="year">Jahr:</label>
        <select id="year" ng-model="cubeConfig.year" required ng-options="year.label for year in years"></select>
    </p>

    <p>
        <label for="relation">In Verhältnis setzen zu:</label>
        <select id="relation" ng-model="cubeConfig.relation" ng-options="relation.label for relation in relations">
            <option value="">nichts (absoluter Wert)</option>
        </select>
    </p>
</div>