<div class="row">
    <div class="col-sm-3 col-md-3">
        <div class="mapselection col-sm-12 col-xs-12">
        <p>
            <topic-selection></topic-selection>
        </p>
        <p>
        <level-selection></level-selection>
        </p>
        <hr/>
        <p>
            <cube-config></cube-config>
        </p>
    </div>
    <div class="col-sm-4 maplegend">
        <img src="/img/legende_germany.jpg" alt="Kartenlegende">
    </div>
</div>
    <div class="col-sm-9 germap" >
        <map></map>
    </div>
    
</div>