<div class="row">
    <div class="col-sm-4 col-md-4">
        <div class="jumbotron">
            <h1><strong>check:</strong>germany</h1>
        </div>
        <div class="mapselection col-sm-12 col-xs-12">
            <p>
                <topic-selection></topic-selection>
            </p>
            <p>
                <level-selection></level-selection>
            </p>
            <hr/>
            <p>
                <cube-config></cube-config>
            </p>
        </div>
        <div class="col-sm-12 buttoncontainer">
            <div class="col-sm-4"><img src="img/button_1.png" ng-click="showMap()"></div>
            <div class="col-sm-4"><img src="img/button_2.png" ng-click="showBubbles()"></div>
            <div class="col-sm-4 embedded"><img src="img/button_3.png"></div>
        </div>
        <div class="clearfix"></div>
        <p><br/></p>

        <div class="col-sm-12 maplegend">
            <img src="/img/legende_germany.jpg" alt="Kartenlegende">
        </div>
    </div>
    <div class="col-sm-9 germap" ng-show="styleOptions.form=='map'">
        <map></map>
    </div>
    <div class="col-sm-9 germap" ng-show="styleOptions.form=='bubbles'">
        <div id="status"></div>
        <cartogram></cartogram>
    </div>
</div>