<div class="ngdialog-message">
    <h3>Team</h3>
    <ul class="list-unstyled">
        <li>Vanessa Wormer (<a href="https://twitter.com/remrow">@remrow</a>)</li>
        <li>Bernd Oswald (<a href="https://twitter.com/berndoswald">@berndoswald</a>)</li>
        <li>Pascal Gabriel (<a href="https://twitter.com/pascalgabriel">@pascalgabriel</a>)</li>
        <li>Felix Ebert (<a href="https://twitter.com/femeb">@femeb</a>)</li>
        <li>Felix Geelhaar (<a href="https://twitter.com/felixgeelhaar">@felixgeelhaar</a>)</li>
    </ul>
</div>